{% extends "include/header_links.html.twig" %}

    {% block admin_header_links %}
        {{ parent() }}
        {{ oViewConf.ysClearTmp() }}
        <li class="sep">
            <a href="{{ oViewConf.getSelfLink()|raw }}cl=navigation&item=header.html.twig&ys_clear_tmp=cleartmp"  target="_self" class="rc"><b>{{ translate({ ident: "DEVUTIL_CLEARTMP_LABEL" }) }}</b></a>
        </li>
        <li class="sep">
            <a href="{{ oViewConf.getSelfLink()|raw }}cl=navigation&item=header.html.twig&ys_clear_tmp=cleartpl" target="_self" class="rc"><b>{{ translate({ ident:"DEVUTIL_CLEARTPL_LABEL"}) }}</b></a>
        </li>
    {% endblock %}