<div>
    Config Key (): {{ oView.getDefaultVariables() }}<br>

    <h2>Language</h2>

    <h3>aLanguageParams</h3>
    {% set language = oView.getLanguageSettings() %}
    <pre>{{ language.params | json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>

    <h3>aLanguages</h3>
    <pre>{{ language.lang| json_encode(constant('JSON_PRETTY_PRINT'))}}</pre>

    <h3>aLanguageURLs</h3>
    <pre>{{ language.urls| json_encode(constant('JSON_PRETTY_PRINT'))}}</pre>

    <h3>aLanguageSSLURLs</h3>
    <pre>{{ language.sslUrls| json_encode(constant('JSON_PRETTY_PRINT'))}}</pre>
</div>