[{$smarty.block.parent}]
[{$oViewConf->ysClearTmp()}]
<li class="sep">
    <a href="[{$oViewConf->getSelfLink()}]cl=navigation&item=header.tpl&ys_clear_tmp=cleartmp"  target="_self" class="rc"><b>[{oxmultilang ident="DEVUTIL_CLEARTMP_LABEL"}]</b></a>
</li>
<li class="sep">
    <a href="[{$oViewConf->getSelfLink()}]cl=navigation&item=header.tpl&ys_clear_tmp=cleartpl" target="_self" class="rc"><b>[{oxmultilang ident="DEVUTIL_CLEARTPL_LABEL"}]</b></a>
</li>